.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet

# hello-world
hello-world/.metadata
hello-world/bin/
hello-world/tmp/
hello-world/*.tmp
hello-world/*.bak
hello-world/*.swp
hello-world/*~.nib
hello-world/local.properties
hello-world/.settings/
hello-world/.loadpath
hello-world/.recommenders
hello-world/.externalToolBuilders/
hello-world/*.launch
hello-world/*.pydevproject
hello-world/.cproject
hello-world/.autotools
hello-world/.factorypath
hello-world/.buildpath
hello-world/.target
hello-world/.tern-project
hello-world/.texlipse
hello-world/.springBeans
hello-world/.recommenders/
hello-world/.apt_generated/
hello-world/.apt_generated_test/
hello-world/.cache-main
hello-world/.scala_dependencies
hello-world/.worksheet