.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet

saidade-de-dados/.metadata
saidade-de-dados/bin/
saidade-de-dados/tmp/
saidade-de-dados/*.tmp
saidade-de-dados/*.bak
saidade-de-dados/*.swp
saidade-de-dados/*~.nib
saidade-de-dados/local.properties
saidade-de-dados/.settings/
saidade-de-dados/.loadpath
saidade-de-dados/.recommenders
saidade-de-dados/.externalToolBuilders/
saidade-de-dados/*.launch
saidade-de-dados/*.pydevproject
saidade-de-dados/.cproject
saidade-de-dados/.autotools
saidade-de-dados/.factorypath
saidade-de-dados/.buildpath
saidade-de-dados/.target
saidade-de-dados/.tern-project
saidade-de-dados/.texlipse
saidade-de-dados/.springBeans
saidade-de-dados/.recommenders/
saidade-de-dados/.apt_generated/
saidade-de-dados/.apt_generated_test/
saidade-de-dados/.cache-main
saidade-de-dados/.scala_dependencies
saidade-de-dados/.worksheet

operadores/.metadata
operadores/bin/
operadores/tmp/
operadores/*.tmp
operadores/*.bak
operadores/*.swp
operadores/*~.nib
operadores/local.properties
operadores/.settings/
operadores/.loadpath
operadores/.recommenders
operadores/.externalToolBuilders/
operadores/*.launch
operadores/*.pydevproject
operadores/.cproject
operadores/.autotools
operadores/.factorypath
operadores/.buildpath
operadores/.target
operadores/.tern-project
operadores/.texlipse
operadores/.springBeans
operadores/.recommenders/
operadores/.apt_generated/
operadores/.apt_generated_test/
operadores/.cache-main
operadores/.scala_dependencies
operadores/.worksheet

tipos-de-dados-em-java/.metadata
tipos-de-dados-em-java/bin/
tipos-de-dados-em-java/tmp/
tipos-de-dados-em-java/*.tmp
tipos-de-dados-em-java/*.bak
tipos-de-dados-em-java/*.swp
tipos-de-dados-em-java/*~.nib
tipos-de-dados-em-java/local.properties
tipos-de-dados-em-java/.settings/
tipos-de-dados-em-java/.loadpath
tipos-de-dados-em-java/.recommenders
tipos-de-dados-em-java/.externalToolBuilders/
tipos-de-dados-em-java/*.launch
tipos-de-dados-em-java/*.pydevproject
tipos-de-dados-em-java/.cproject
tipos-de-dados-em-java/.autotools
tipos-de-dados-em-java/.factorypath
tipos-de-dados-em-java/.buildpath
tipos-de-dados-em-java/.target
tipos-de-dados-em-java/.tern-project
tipos-de-dados-em-java/.texlipse
tipos-de-dados-em-java/.springBeans
tipos-de-dados-em-java/.recommenders/
tipos-de-dados-em-java/.apt_generated/
tipos-de-dados-em-java/.apt_generated_test/
tipos-de-dados-em-java/.cache-main
tipos-de-dados-em-java/.scala_dependencies
tipos-de-dados-em-java/.worksheet

# hello-world
hello-world/.metadata
hello-world/bin/
hello-world/tmp/
hello-world/*.tmp
hello-world/*.bak
hello-world/*.swp
hello-world/*~.nib
hello-world/local.properties
hello-world/.settings/
hello-world/.loadpath
hello-world/.recommenders
hello-world/.externalToolBuilders/
hello-world/*.launch
hello-world/*.pydevproject
hello-world/.cproject
hello-world/.autotools
hello-world/.factorypath
hello-world/.buildpath
hello-world/.target
hello-world/.tern-project
hello-world/.texlipse
hello-world/.springBeans
hello-world/.recommenders/
hello-world/.apt_generated/
hello-world/.apt_generated_test/
hello-world/.cache-main
hello-world/.scala_dependencies
hello-world/.worksheet