.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet

exe-diagonal-negativos/.metadata
exe-diagonal-negativos/bin/
exe-diagonal-negativos/tmp/
exe-diagonal-negativos/*.tmp
exe-diagonal-negativos/*.bak
exe-diagonal-negativos/*.swp
exe-diagonal-negativos/*~.nib
exe-diagonal-negativos/local.properties
exe-diagonal-negativos/.settings/
exe-diagonal-negativos/.loadpath
exe-diagonal-negativos/.recommenders
exe-diagonal-negativos/.externalToolBuilders/
exe-diagonal-negativos/*.launch
exe-diagonal-negativos/*.pydevproject
exe-diagonal-negativos/.cproject
exe-diagonal-negativos/.autotools
exe-diagonal-negativos/.factorypath
exe-diagonal-negativos/.buildpath
exe-diagonal-negativos/.target
exe-diagonal-negativos/.tern-project
exe-diagonal-negativos/.texlipse
exe-diagonal-negativos/.springBeans
exe-diagonal-negativos/.recommenders/
exe-diagonal-negativos/.apt_generated/
exe-diagonal-negativos/.apt_generated_test/
exe-diagonal-negativos/.cache-main
exe-diagonal-negativos/.scala_dependencies
exe-diagonal-negativos/.worksheet

exe-soma-vetor/.metadata
exe-soma-vetor/bin/
exe-soma-vetor/tmp/
exe-soma-vetor/*.tmp
exe-soma-vetor/*.bak
exe-soma-vetor/*.swp
exe-soma-vetor/*~.nib
exe-soma-vetor/local.properties
exe-soma-vetor/.settings/
exe-soma-vetor/.loadpath
exe-soma-vetor/.recommenders
exe-soma-vetor/.externalToolBuilders/
exe-soma-vetor/*.launch
exe-soma-vetor/*.pydevproject
exe-soma-vetor/.cproject
exe-soma-vetor/.autotools
exe-soma-vetor/.factorypath
exe-soma-vetor/.buildpath
exe-soma-vetor/.target
exe-soma-vetor/.tern-project
exe-soma-vetor/.texlipse
exe-soma-vetor/.springBeans
exe-soma-vetor/.recommenders/
exe-soma-vetor/.apt_generated/
exe-soma-vetor/.apt_generated_test/
exe-soma-vetor/.cache-main
exe-soma-vetor/.scala_dependencies
exe-soma-vetor/.worksheet

exe-soma-impares/.metadata
exe-soma-impares/bin/
exe-soma-impares/tmp/
exe-soma-impares/*.tmp
exe-soma-impares/*.bak
exe-soma-impares/*.swp
exe-soma-impares/*~.nib
exe-soma-impares/local.properties
exe-soma-impares/.settings/
exe-soma-impares/.loadpath
exe-soma-impares/.recommenders
exe-soma-impares/.externalToolBuilders/
exe-soma-impares/*.launch
exe-soma-impares/*.pydevproject
exe-soma-impares/.cproject
exe-soma-impares/.autotools
exe-soma-impares/.factorypath
exe-soma-impares/.buildpath
exe-soma-impares/.target
exe-soma-impares/.tern-project
exe-soma-impares/.texlipse
exe-soma-impares/.springBeans
exe-soma-impares/.recommenders/
exe-soma-impares/.apt_generated/
exe-soma-impares/.apt_generated_test/
exe-soma-impares/.cache-main
exe-soma-impares/.scala_dependencies
exe-soma-impares/.worksheet

exe-crescente/.metadata
exe-crescente/bin/
exe-crescente/tmp/
exe-crescente/*.tmp
exe-crescente/*.bak
exe-crescente/*.swp
exe-crescente/*~.nib
exe-crescente/local.properties
exe-crescente/.settings/
exe-crescente/.loadpath
exe-crescente/.recommenders
exe-crescente/.externalToolBuilders/
exe-crescente/*.launch
exe-crescente/*.pydevproject
exe-crescente/.cproject
exe-crescente/.autotools
exe-crescente/.factorypath
exe-crescente/.buildpath
exe-crescente/.target
exe-crescente/.tern-project
exe-crescente/.texlipse
exe-crescente/.springBeans
exe-crescente/.recommenders/
exe-crescente/.apt_generated/
exe-crescente/.apt_generated_test/
exe-crescente/.cache-main
exe-crescente/.scala_dependencies
exe-crescente/.worksheet

exe-menor-de-tres/.metadata
exe-menor-de-tres/bin/
exe-menor-de-tres/tmp/
exe-menor-de-tres/*.tmp
exe-menor-de-tres/*.bak
exe-menor-de-tres/*.swp
exe-menor-de-tres/*~.nib
exe-menor-de-tres/local.properties
exe-menor-de-tres/.settings/
exe-menor-de-tres/.loadpath
exe-menor-de-tres/.recommenders
exe-menor-de-tres/.externalToolBuilders/
exe-menor-de-tres/*.launch
exe-menor-de-tres/*.pydevproject
exe-menor-de-tres/.cproject
exe-menor-de-tres/.autotools
exe-menor-de-tres/.factorypath
exe-menor-de-tres/.buildpath
exe-menor-de-tres/.target
exe-menor-de-tres/.tern-project
exe-menor-de-tres/.texlipse
exe-menor-de-tres/.springBeans
exe-menor-de-tres/.recommenders/
exe-menor-de-tres/.apt_generated/
exe-menor-de-tres/.apt_generated_test/
exe-menor-de-tres/.cache-main
exe-menor-de-tres/.scala_dependencies
exe-menor-de-tres/.worksheet

exe-idades/.metadata
exe-idades/bin/
exe-idades/tmp/
exe-idades/*.tmp
exe-idades/*.bak
exe-idades/*.swp
exe-idades/*~.nib
exe-idades/local.properties
exe-idades/.settings/
exe-idades/.loadpath
exe-idades/.recommenders
exe-idades/.externalToolBuilders/
exe-idades/*.launch
exe-idades/*.pydevproject
exe-idades/.cproject
exe-idades/.autotools
exe-idades/.factorypath
exe-idades/.buildpath
exe-idades/.target
exe-idades/.tern-project
exe-idades/.texlipse
exe-idades/.springBeans
exe-idades/.recommenders/
exe-idades/.apt_generated/
exe-idades/.apt_generated_test/
exe-idades/.cache-main
exe-idades/.scala_dependencies
exe-idades/.worksheet

exe-retangulo/.metadata
exe-retangulo/bin/
exe-retangulo/tmp/
exe-retangulo/*.tmp
exe-retangulo/*.bak
exe-retangulo/*.swp
exe-retangulo/*~.nib
exe-retangulo/local.properties
exe-retangulo/.settings/
exe-retangulo/.loadpath
exe-retangulo/.recommenders
exe-retangulo/.externalToolBuilders/
exe-retangulo/*.launch
exe-retangulo/*.pydevproject
exe-retangulo/.cproject
exe-retangulo/.autotools
exe-retangulo/.factorypath
exe-retangulo/.buildpath
exe-retangulo/.target
exe-retangulo/.tern-project
exe-retangulo/.texlipse
exe-retangulo/.springBeans
exe-retangulo/.recommenders/
exe-retangulo/.apt_generated/
exe-retangulo/.apt_generated_test/
exe-retangulo/.cache-main
exe-retangulo/.scala_dependencies
exe-retangulo/.worksheet

matrizes/.metadata
matrizes/bin/
matrizes/tmp/
matrizes/*.tmp
matrizes/*.bak
matrizes/*.swp
matrizes/*~.nib
matrizes/local.properties
matrizes/.settings/
matrizes/.loadpath
matrizes/.recommenders
matrizes/.externalToolBuilders/
matrizes/*.launch
matrizes/*.pydevproject
matrizes/.cproject
matrizes/.autotools
matrizes/.factorypath
matrizes/.buildpath
matrizes/.target
matrizes/.tern-project
matrizes/.texlipse
matrizes/.springBeans
matrizes/.recommenders/
matrizes/.apt_generated/
matrizes/.apt_generated_test/
matrizes/.cache-main
matrizes/.scala_dependencies
matrizes/.worksheet

vetores/.metadata
vetores/bin/
vetores/tmp/
vetores/*.tmp
vetores/*.bak
vetores/*.swp
vetores/*~.nib
vetores/local.properties
vetores/.settings/
vetores/.loadpath
vetores/.recommenders
vetores/.externalToolBuilders/
vetores/*.launch
vetores/*.pydevproject
vetores/.cproject
vetores/.autotools
vetores/.factorypath
vetores/.buildpath
vetores/.target
vetores/.tern-project
vetores/.texlipse
vetores/.springBeans
vetores/.recommenders/
vetores/.apt_generated/
vetores/.apt_generated_test/
vetores/.cache-main
vetores/.scala_dependencies
vetores/.worksheet

estrutura-de-controle/.metadata
estrutura-de-controle/bin/
estrutura-de-controle/tmp/
estrutura-de-controle/*.tmp
estrutura-de-controle/*.bak
estrutura-de-controle/*.swp
estrutura-de-controle/*~.nib
estrutura-de-controle/local.properties
estrutura-de-controle/.settings/
estrutura-de-controle/.loadpath
estrutura-de-controle/.recommenders
estrutura-de-controle/.externalToolBuilders/
estrutura-de-controle/*.launch
estrutura-de-controle/*.pydevproject
estrutura-de-controle/.cproject
estrutura-de-controle/.autotools
estrutura-de-controle/.factorypath
estrutura-de-controle/.buildpath
estrutura-de-controle/.target
estrutura-de-controle/.tern-project
estrutura-de-controle/.texlipse
estrutura-de-controle/.springBeans
estrutura-de-controle/.recommenders/
estrutura-de-controle/.apt_generated/
estrutura-de-controle/.apt_generated_test/
estrutura-de-controle/.cache-main
estrutura-de-controle/.scala_dependencies
estrutura-de-controle/.worksheet

entrada-de-dados/.metadata
entrada-de-dados/bin/
entrada-de-dados/tmp/
entrada-de-dados/*.tmp
entrada-de-dados/*.bak
entrada-de-dados/*.swp
entrada-de-dados/*~.nib
entrada-de-dados/local.properties
entrada-de-dados/.settings/
entrada-de-dados/.loadpath
entrada-de-dados/.recommenders
entrada-de-dados/.externalToolBuilders/
entrada-de-dados/*.launch
entrada-de-dados/*.pydevproject
entrada-de-dados/.cproject
entrada-de-dados/.autotools
entrada-de-dados/.factorypath
entrada-de-dados/.buildpath
entrada-de-dados/.target
entrada-de-dados/.tern-project
entrada-de-dados/.texlipse
entrada-de-dados/.springBeans
entrada-de-dados/.recommenders/
entrada-de-dados/.apt_generated/
entrada-de-dados/.apt_generated_test/
entrada-de-dados/.cache-main
entrada-de-dados/.scala_dependencies
entrada-de-dados/.worksheet

procesamento-casting/.metadata
procesamento-casting/bin/
procesamento-casting/tmp/
procesamento-casting/*.tmp
procesamento-casting/*.bak
procesamento-casting/*.swp
procesamento-casting/*~.nib
procesamento-casting/local.properties
procesamento-casting/.settings/
procesamento-casting/.loadpath
procesamento-casting/.recommenders
procesamento-casting/.externalToolBuilders/
procesamento-casting/*.launch
procesamento-casting/*.pydevproject
procesamento-casting/.cproject
procesamento-casting/.autotools
procesamento-casting/.factorypath
procesamento-casting/.buildpath
procesamento-casting/.target
procesamento-casting/.tern-project
procesamento-casting/.texlipse
procesamento-casting/.springBeans
procesamento-casting/.recommenders/
procesamento-casting/.apt_generated/
procesamento-casting/.apt_generated_test/
procesamento-casting/.cache-main
procesamento-casting/.scala_dependencies
procesamento-casting/.worksheet

saidade-de-dados/.metadata
saidade-de-dados/bin/
saidade-de-dados/tmp/
saidade-de-dados/*.tmp
saidade-de-dados/*.bak
saidade-de-dados/*.swp
saidade-de-dados/*~.nib
saidade-de-dados/local.properties
saidade-de-dados/.settings/
saidade-de-dados/.loadpath
saidade-de-dados/.recommenders
saidade-de-dados/.externalToolBuilders/
saidade-de-dados/*.launch
saidade-de-dados/*.pydevproject
saidade-de-dados/.cproject
saidade-de-dados/.autotools
saidade-de-dados/.factorypath
saidade-de-dados/.buildpath
saidade-de-dados/.target
saidade-de-dados/.tern-project
saidade-de-dados/.texlipse
saidade-de-dados/.springBeans
saidade-de-dados/.recommenders/
saidade-de-dados/.apt_generated/
saidade-de-dados/.apt_generated_test/
saidade-de-dados/.cache-main
saidade-de-dados/.scala_dependencies
saidade-de-dados/.worksheet

tipos-de-dados-em-java/.metadata
tipos-de-dados-em-java/bin/
tipos-de-dados-em-java/tmp/
tipos-de-dados-em-java/*.tmp
tipos-de-dados-em-java/*.bak
tipos-de-dados-em-java/*.swp
tipos-de-dados-em-java/*~.nib
tipos-de-dados-em-java/local.properties
tipos-de-dados-em-java/.settings/
tipos-de-dados-em-java/.loadpath
tipos-de-dados-em-java/.recommenders
tipos-de-dados-em-java/.externalToolBuilders/
tipos-de-dados-em-java/*.launch
tipos-de-dados-em-java/*.pydevproject
tipos-de-dados-em-java/.cproject
tipos-de-dados-em-java/.autotools
tipos-de-dados-em-java/.factorypath
tipos-de-dados-em-java/.buildpath
tipos-de-dados-em-java/.target
tipos-de-dados-em-java/.tern-project
tipos-de-dados-em-java/.texlipse
tipos-de-dados-em-java/.springBeans
tipos-de-dados-em-java/.recommenders/
tipos-de-dados-em-java/.apt_generated/
tipos-de-dados-em-java/.apt_generated_test/
tipos-de-dados-em-java/.cache-main
tipos-de-dados-em-java/.scala_dependencies
tipos-de-dados-em-java/.worksheet

# hello-world
hello-world/.metadata
hello-world/bin/
hello-world/tmp/
hello-world/*.tmp
hello-world/*.bak
hello-world/*.swp
hello-world/*~.nib
hello-world/local.properties
hello-world/.settings/
hello-world/.loadpath
hello-world/.recommenders
hello-world/.externalToolBuilders/
hello-world/*.launch
hello-world/*.pydevproject
hello-world/.cproject
hello-world/.autotools
hello-world/.factorypath
hello-world/.buildpath
hello-world/.target
hello-world/.tern-project
hello-world/.texlipse
hello-world/.springBeans
hello-world/.recommenders/
hello-world/.apt_generated/
hello-world/.apt_generated_test/
hello-world/.cache-main
hello-world/.scala_dependencies
hello-world/.worksheet